.git
.gitignore
.turbo
.DS_Store
.vscode
.husky
.github
.changeset
tsconfig.tsbuildinfo
Dockerfile
docker-compose.yml
LICENSE

*.md
node_modules
dist
stats.html
.env.local
logs
*.log
*.mp4
screenshots
quick-start-docker-compose.yml

resources/videos
apps/server/static/uploads/
examples/react-test-project
examples/vue-test-project
